<html>
    <head>
        <title>Lecture notes - course</title>
    </head>

    <body>
        <p>User: {{ user.get_username }} -- <a href="\">Home</a></p>
        <h2>Notes form course {{ course.name }}</h2>
        <ul>
            {% for n in notes %}

            <li>{{n.date}} <br> {{n.noteText}}<br> link: {{n.link}}</li>

            <form action="/share" method="POST">
                {% csrf_token %}
                <input type="hidden" name="noteId" value={{n.pk}}>
                <p>Share to other user:
                <select name="userId">
                {% for u in users %}
                    <option value="{{u.pk}}">{{u.username}}</option>
                {% endfor %}
                </select>
                <input type="submit" value="Share"/></p>
            </form>

            {% endfor %}
        </ul>

        <h2>New note</h2>
        <form action="/newnote" method="POST">
			{% csrf_token %}
            <p>Course: {{course.name}}
            <input type="hidden" name="course" value={{course.pk}}>
            <p>Date <input type="date" name="date"/></p>
            <p>Notes <br><textarea name="notes" rows="10" cols="30"></textarea></p>
            <p>Link <input type="text" name="link"/></p>
            
            <input type="submit" value="Add!"/>
        </form>

    </body>
</html>