<html>
    <head>
        <title>Lecture notes - new note</title>
    </head>

    <body>
        <p>User: {{ user.get_username }}</p>
        <h1>New note</h1>
        <form action="/newnote" method="POST">
            <p>Course:
            <select name="course">
			{% for c in courses %}
                <option value="{{c.pk}}">{{c.name}}</option>
            {% endfor %}
            </select></p>
            <p>Date <input type="date" name="date"/></p>
            <p>Notes: <textarea name="notes" rows="10" cols="30"></textarea></p>
            <p>Link: <input type="text" name="link"/></p>
            
            <input type="submit" value="Add!"/>
        </form>
    </body>
</html>